LOCATE COMP "i_clk" SITE "P6";
IOBUF  PORT "i_clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "i_clk" 25.000 MHZ;

LOCATE COMP "btn0" SITE "M13";  # BTN_PWRn (inverted logic)
IOBUF PORT "btn0" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "o_uart_tx" SITE "M11"; # FPGA transmits to ftdi (J5)
IOBUF PORT "o_uart_tx" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
